<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Только старый проверенный V2-источник -->
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <!-- На всякий случай локальный кэш -->
    <add key="Local" value="%userprofile%\.nuget\packages" />
  </packageSources>
  
  <disabledPackageSources>
    <add key="Microsoft Visual Studio Offline Packages" value="true" />
  </disabledPackageSources>
</configuration>